API_ID=12746375 # get this value from my.telegram.org
API_HASH=0caffb53cc6b99b5fe33d7995a5e82e6 # get this value from my.telegram.org
BOT_TOKEN=5383207217:AAED0KecxFD0XkzBXjxjarjr8b8NJYh2Tzc # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/yukki?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001732849713 # get this value from in your log group 
MUSIC_BOT_NAME=etalee # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
